[Desktop Entry]
Type=Application
Name=Schach
Exec=/home/anwender/Downloads/05_Menue_UP/ChessLf10a/schach
Path=/home/anwender/Downloads/05_Menue_UP/ChessLf10a
Terminal=true
